In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql postgresql://postgres:1120@localhost:5432/postgres

Connecting to 'postgresql://postgres:***@localhost:5432/postgres'

In [6]:
%config SqlMagic.displaylimit = 20

In [7]:
# %%sql

# ALTER SCHEMA jeodata RENAME TO geodata;

# commit;

In [8]:
%%sql
SELECT schema_name
FROM information_schema.schemata
WHERE schema_name NOT LIKE 'pg_temp_%'
  AND schema_name NOT LIKE 'pg_toast_temp_%'
ORDER BY schema_name;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

7 rows affected.

+--------------------+
|    schema_name     |
+--------------------+
|      geodata       |
| information_schema |
|     pg_catalog     |
|      pg_toast      |
|       public       |
|        temp        |
|      wpp_2024      |
+--------------------+

In [9]:
%%sql

SET search_path TO wpp_2024;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [10]:
# %%sql

# ALTER TABLE births_original reNAME TO original_births;
# ALTER TABLE births_simple_view reNAME TO simple_births_view;
# commit;

In [11]:
%%sql


SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'geodata'
ORDER BY table_name;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

2 rows affected.

+-----------------+
|    table_name   |
+-----------------+
| country_capital |
|   country_view  |
+-----------------+

In [12]:
%%sql

SELECT *
FROM WPP_2024.regions_view

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

237 rows affected.

+-----------------------------+------+--------+----------------+
|           country           | iso3 | region |   subregion    |
+-----------------------------+------+--------+----------------+
|           Burundi           | BDI  | Africa | Eastern Africa |
|           Comoros           | COM  | Africa | Eastern Africa |
|           Djibouti          | DJI  | Africa | Eastern Africa |
|           Eritrea           | ERI  | Africa | Eastern Africa |
|           Ethiopia          | ETH  | Africa | Eastern Africa |
|            Kenya            | KEN  | Africa | Eastern Africa |
|          Madagascar         | MDG  | Africa | Eastern Africa |
|            Malawi           | MWI  | Africa | Eastern Africa |
|          Mauritius          | MUS  | Africa | Eastern Africa |
|           Mayotte           | MYT  | Africa | Eastern Africa |
|          Mozambique         | MOZ  | Africa | Eastern Africa |
|           R?union           | REU  | Africa | Eastern Africa |
|            Rwanda           | RWA  | Africa | Eastern Africa |
|          Seychelles         | SYC  | Africa | Eastern Africa |
|           Somalia           | SOM  | Africa | Eastern Africa |
|         South Sudan         | SSD  | Africa | Eastern Africa |
|            Uganda           | UGA  | Africa | Eastern Africa |
| United Republic of Tanzania | TZA  | Africa | Eastern Africa |
|            Zambia           | ZMB  | Africa | Eastern Africa |
|           Zimbabwe          | ZWE  | Africa | Eastern Africa |
+-----------------------------+------+--------+----------------+
Truncated to displaylimit of 20.

In [ ]:
# %%sql

# ALTER TABLE geodata.country_capital rename column "Country" to country;
# ALTER TABLE geodata.country_capital rename column "Capital City" to capital;
# ALTER TABLE geodata.country_capital rename column "Latitude" to latitude;
# ALTER TABLE geodata.country_capital rename column "Longitude" to longitude;
# ALTER TABLE geodata.country_capital rename column "Capital Type" to capital_type;
# ALTER TABLE geodata.country_capital rename column "Population" to population;

# commit;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [15]:
%%sql

SELECT *
FROM geodata.country_capital

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

234 rows affected.

+---------------------+-----------------------+----------+-----------+------------+--------------+
|       country       |        capital        | latitude | longitude | population | capital_type |
+---------------------+-----------------------+----------+-----------+------------+--------------+
|     Afghanistan     |         Kabul         | 34.5289  |  69.1725  |  4011770   |   Capital    |
|       Albania       |    Tiranë (Tirana)    | 41.3275  |  19.8189  |   475577   |   Capital    |
|       Algeria       | El Djazaïr  (Algiers) | 36.7525  |   3.042   |  2693542   |   Capital    |
|    American Samoa   |       Pago Pago       | -14.2781 | -170.7025 |   48526    |   Capital    |
|       Andorra       |    Andorra la Vella   | 42.5078  |   1.5211  |   22614    |   Capital    |
|        Angola       |         Luanda        | -8.8368  |  13.2343  |  7774200   |   Capital    |
|       Anguilla      |       The Valley      |  18.217  |  -63.0578 |    1402    |   Capital    |
| Antigua and Barbuda |       St. John's      | 17.1172  |  -61.8457 |   20764    |   Capital    |
|      Argentina      |      Buenos Aires     | -34.6051 |  -58.4004 |  14966530  |   Capital    |
|       Armenia       |        Yerevan        |  40.182  |  44.5146  |  1080324   |   Capital    |
|        Aruba        |       Oranjestad      |  12.524  |  -70.027  |   29877    |   Capital    |
|      Australia      |        Canberra       | -35.2835 |  149.1281 |   447692   |   Capital    |
|       Austria       |     Wien (Vienna)     | 48.2064  |  16.3707  |  1900547   |   Capital    |
|      Azerbaijan     |          Baku         | 40.3777  |   49.892  |  2285729   |   Capital    |
|       Bahamas       |         Nassau        | 25.0582  |  -77.3431 |   279668   |   Capital    |
|       Bahrain       |  Al-Manamah (Manama)  | 26.2154  |  50.5832  |   564631   |   Capital    |
|      Bangladesh     |         Dhaka         | 23.7104  |  90.4074  |  19578421  |   Capital    |
|       Barbados      |       Bridgetown      |   13.1   |  -59.6167 |   89201    |   Capital    |
|       Belarus       |         Minsk         |   53.9   |  27.5667  |  2004672   |   Capital    |
|       Belgium       |   Bruxelles-Brussel   | 50.8467  |   4.3499  |  2049510   |   Capital    |
+---------------------+-----------------------+----------+-----------+------------+--------------+
Truncated to displaylimit of 20.

In [16]:
%%sql


select country
from wpp_2024.regions_view
except
select country
from geodata.country_capital;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

13 rows affected.

+----------------------------------+
|             country              |
+----------------------------------+
|             R?union              |
|             Cura?ao              |
|             Guernsey             |
|  Kosovo (under UNSC res. 1244)   |
|    Saint Martin (French part)    |
|         North Macedonia          |
| Bonaire, Sint Eustatius and Saba |
|             T?rkiye              |
|          C?te d'Ivoire           |
|          Faroe Islands           |
|             Eswatini             |
|         Saint Barth?lemy         |
|              Jersey              |
+----------------------------------+

In [19]:
%%sql

DROP VIEW IF EXISTS geodata.country_view;
CREATE VIEW geodata.country_view AS (
    SELECT 
        cc.country,
        rv.iso3,
        rv.region,
        rv.subregion,
        cc.capital,
        cc.latitude,
        cc.longitude
    FROM 
        geodata.country_capital cc
    JOIN
        wpp_2024.regions_view rv 
        ON 
            cc.country = rv.country
);

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [20]:
%%sql

select *
from geodata.country_view;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

224 rows affected.

+---------------------+------+---------------------------------+-----------------------+-----------------------+----------+-----------+
|       country       | iso3 |              region             |       subregion       |        capital        | latitude | longitude |
+---------------------+------+---------------------------------+-----------------------+-----------------------+----------+-----------+
|     Afghanistan     | AFG  |               Asia              |     Southern Asia     |         Kabul         | 34.5289  |  69.1725  |
|       Albania       | ALB  |              Europe             |    Southern Europe    |    Tiranë (Tirana)    | 41.3275  |  19.8189  |
|       Algeria       | DZA  |              Africa             |    Northern Africa    | El Djazaïr  (Algiers) | 36.7525  |   3.042   |
|    American Samoa   | ASM  |             Oceania             |       Polynesia       |       Pago Pago       | -14.2781 | -170.7025 |
|       Andorra       | AND  |              Europe             |    Southern Europe    |    Andorra la Vella   | 42.5078  |   1.5211  |
|        Angola       | AGO  |              Africa             |     Middle Africa     |         Luanda        | -8.8368  |  13.2343  |
|       Anguilla      | AIA  | Latin America and the Caribbean |       Caribbean       |       The Valley      |  18.217  |  -63.0578 |
| Antigua and Barbuda | ATG  | Latin America and the Caribbean |       Caribbean       |       St. John's      | 17.1172  |  -61.8457 |
|      Argentina      | ARG  | Latin America and the Caribbean |     South America     |      Buenos Aires     | -34.6051 |  -58.4004 |
|       Armenia       | ARM  |               Asia              |      Western Asia     |        Yerevan        |  40.182  |  44.5146  |
|        Aruba        | ABW  | Latin America and the Caribbean |       Caribbean       |       Oranjestad      |  12.524  |  -70.027  |
|      Australia      | AUS  |             Oceania             | Australia/New Zealand |        Canberra       | -35.2835 |  149.1281 |
|       Austria       | AUT  |              Europe             |     Western Europe    |     Wien (Vienna)     | 48.2064  |  16.3707  |
|      Azerbaijan     | AZE  |               Asia              |      Western Asia     |          Baku         | 40.3777  |   49.892  |
|       Bahamas       | BHS  | Latin America and the Caribbean |       Caribbean       |         Nassau        | 25.0582  |  -77.3431 |
|       Bahrain       | BHR  |               Asia              |      Western Asia     |  Al-Manamah (Manama)  | 26.2154  |  50.5832  |
|      Bangladesh     | BGD  |               Asia              |     Southern Asia     |         Dhaka         | 23.7104  |  90.4074  |
|       Barbados      | BRB  | Latin America and the Caribbean |       Caribbean       |       Bridgetown      |   13.1   |  -59.6167 |
|       Belarus       | BLR  |              Europe             |     Eastern Europe    |         Minsk         |   53.9   |  27.5667  |
|       Belgium       | BEL  |              Europe             |     Western Europe    |   Bruxelles-Brussel   | 50.8467  |   4.3499  |
+---------------------+------+---------------------------------+-----------------------+-----------------------+----------+-----------+
Truncated to displaylimit of 20.