In [1]:
%load_ext sql

In [4]:
%sql mysql://root:1120@localhost:3306/

Connecting to 'mysql://root:***@localhost:3306/'

In [ ]:
# %%sql
# CREATE TABLE IF NOT EXISTS person (
#     person_id SMALLINT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
#     fname VARCHAR(20),
#     lname VARCHAR(20),
#     gender VARCHAR(1) CHECK (gender IN ('M', 'F')),
#     birth_date DATEd
# );

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [ ]:
# %%sql

# CREATE TABLE IF NOT EXISTS favorite_food (
#     person_id SMALLINT REFERENCES person(person_id),
#     food VARCHAR(20),
#     PRIMARY KEY (person_id, food)
# );

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [ ]:
# %%sql

# INSERT into favorite_food 
# (person_id, food)
# values
# (1, 'pizza');

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

1 rows affected.

++
||
++
++

In [8]:
%%sql

show tables;

Running query in 'mysql://root:***@localhost:3306/'

11 rows affected.

+----------------+
| Tables_in_bank |
+----------------+
|    account     |
|     branch     |
|    business    |
|    customer    |
|   department   |
|    employee    |
|   individual   |
|    officer     |
|    product     |
|  product_type  |
+----------------+
Truncated to displaylimit of 10.