In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:1120@localhost:3306/

Connecting to 'mysql+pymysql://root:***@localhost:3306/'

In [3]:
%config SqlMagic.displaylimit = 20

In [ ]:
%%sql

create temp table wpp (
    Index ,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,Year,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100+

)

Running query in 'mysql+pymysql://root:***@localhost:3306/'

1 rows affected.

++
||
++
++

In [ ]:
# %%sql

# LOAD DATA INFILE 'C:\\Users\\parkj\\Documents\\workspace\\my_projects\\data\\heavy\\WPP2024.csv'
# INTO temp TABLE my_table
# FIELDS TERMINATED BY ','
# ENCLOSED BY '"'
# LINES TERMINATED BY '\n'
# IGNORE 1 ROWS;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

44 rows affected.

+------------------+
|   schema_name    |
+------------------+
|      public      |
| pg_toast_temp_4  |
|    pg_temp_4     |
| pg_toast_temp_3  |
|    pg_temp_3     |
| pg_toast_temp_2  |
|    pg_temp_2     |
| pg_toast_temp_1  |
|    pg_temp_1     |
| pg_toast_temp_0  |
|    pg_temp_0     |
| pg_toast_temp_22 |
|    pg_temp_22    |
| pg_toast_temp_28 |
|    pg_temp_28    |
| pg_toast_temp_26 |
|    pg_temp_26    |
| pg_toast_temp_25 |
|    pg_temp_25    |
| pg_toast_temp_23 |
+------------------+
Truncated to displaylimit of 20.

In [114]:
%%sql

SET search_path TO temp;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [129]:
%%sql


SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'wpp_2024'
ORDER BY table_name;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

3 rows affected.

+--------------+
|  table_name  |
+--------------+
|   original   |
| regions_view |
| simple_view  |
+--------------+

In [125]:
%%sql

DROP view if exists temp.simple;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [127]:
%%sql

SELECT schemaname, viewname
FROM pg_views
WHERE schemaname = 'temp';

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

+------------+----------+
| schemaname | viewname |
+------------+----------+
+------------+----------+

In [117]:
%%sql

SELECT column_name
FROM information_schema.columns
WHERE table_schema = 'temp'
  AND table_name = 'original'
ORDER BY ordinal_position;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

112 rows affected.

+--------------------------------------+
|             column_name              |
+--------------------------------------+
|                Index                 |
|               Variant                |
| Region, subregion, country or area * |
|                Notes                 |
|            Location code             |
|           ISO3 Alpha-code            |
|           ISO2 Alpha-code            |
|             SDMX code**              |
|                 Type                 |
|             Parent code              |
|                 Year                 |
|                  0                   |
|                  1                   |
|                  2                   |
|                  3                   |
|                  4                   |
|                  5                   |
|                  6                   |
|                  7                   |
|                  8                   |
+--------------------------------------+
Truncated to displaylimit of 20.

In [118]:
%%sql

Drop VIEW IF exists regions_view;
CREATE VIEW regions_view AS
WITH step1 AS (
        SELECT
            "Index",
            "ISO3 Alpha-code" as iso3,
            "Region, subregion, country or area *" AS Country,
            "Type" as type
        FROM original
        WHERE "Year" = 2023
        AND "Type" IN ('Region', 'Subregion', 'Country/Area')
    ),
    step2 AS(
        SELECT
            "Index",
            iso3,
            Country,
            Type,
        CASE WHEN Type = 'Region' THEN Country END AS Region,
        CASE WHEN Type = 'Subregion' THEN Country END AS Subregion
        FROM step1
    ),
    step3 AS (
        WITH RECURSIVE ffill AS (
        -- Anchor member: 첫 번째 행부터 시작
            SELECT
                Country,
                iso3,
                Type,
                Region,
                Subregion,
                ROW_NUMBER() OVER (ORDER BY "Index") AS rn
            FROM step2
        ),
        filled AS (
            SELECT
                Country,
                iso3,
                Type,
                Region,
                Subregion,
                rn
            FROM ffill
            WHERE rn = 1
            
            UNION ALL
            
            SELECT
                curr.Country,
                curr.iso3,
                curr.Type,
                COALESCE(curr.Region, prev.Region) AS Region,
                COALESCE(curr.Subregion, prev.Subregion) AS Subregion,
                curr.rn
            FROM ffill curr
            JOIN filled prev ON curr.rn = prev.rn + 1
        )
        SELECT
            Country,
            iso3,
            Type,
            Region,
            Subregion
        FROM filled
        ORDER BY rn
    ),
    step4 AS (
        SELECT
            Country,
            iso3,
            Region,
            CASE 
                WHEN Region = 'Northern America' THEN 'Northern America'
                ELSE Subregion
            END AS Subregion
        FROM step3
        WHERE Type = 'Country/Area'
    )
    SELECT Country, iso3, Region, Subregion
    FROM step4;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [ ]:
# %%sql

# select *
# from regions_view;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

237 rows affected.

+-----------------------------+------+--------+----------------+
|           country           | iso3 | region |   subregion    |
+-----------------------------+------+--------+----------------+
|           Burundi           | BDI  | Africa | Eastern Africa |
|           Comoros           | COM  | Africa | Eastern Africa |
|           Djibouti          | DJI  | Africa | Eastern Africa |
|           Eritrea           | ERI  | Africa | Eastern Africa |
|           Ethiopia          | ETH  | Africa | Eastern Africa |
|            Kenya            | KEN  | Africa | Eastern Africa |
|          Madagascar         | MDG  | Africa | Eastern Africa |
|            Malawi           | MWI  | Africa | Eastern Africa |
|          Mauritius          | MUS  | Africa | Eastern Africa |
|           Mayotte           | MYT  | Africa | Eastern Africa |
|          Mozambique         | MOZ  | Africa | Eastern Africa |
|           R?union           | REU  | Africa | Eastern Africa |
|            Rwanda           | RWA  | Africa | Eastern Africa |
|          Seychelles         | SYC  | Africa | Eastern Africa |
|           Somalia           | SOM  | Africa | Eastern Africa |
|         South Sudan         | SSD  | Africa | Eastern Africa |
|            Uganda           | UGA  | Africa | Eastern Africa |
| United Republic of Tanzania | TZA  | Africa | Eastern Africa |
|            Zambia           | ZMB  | Africa | Eastern Africa |
|           Zimbabwe          | ZWE  | Africa | Eastern Africa |
+-----------------------------+------+--------+----------------+
Truncated to displaylimit of 20.

In [120]:
import data

db = data.PostgreSQLDB()

df = db.exedf()

# print(df.head())
# print(df.columns[:11])

lst = list(df.columns[11:])
quoted_str = ', '.join(['"' + item + '"' for item in lst])
print(quoted_str)

Database engine created.
Query executed successfully.
"0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59", "60", "61", "62", "63", "64", "65", "66", "67", "68", "69", "70", "71", "72", "73", "74", "75", "76", "77", "78", "79", "80", "81", "82", "83", "84", "85", "86", "87", "88", "89", "90", "91", "92", "93", "94", "95", "96", "97", "98", "99", "100+"

In [121]:
%%sql

DROP VIEW IF EXISTS simple_view;
CREATE VIEW simple_view AS (
    SELECT 
        "Index" as index, 
        "Region, subregion, country or area *" as region,
        "Year" :: text as year,
        "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59", "60", "61", "62", "63", "64", "65", "66", "67", "68", "69", "70", "71", "72", "73", "74", "75", "76", "77", "78", "79", "80", "81", "82", "83", "84", "85", "86", "87", "88", "89", "90", "91", "92", "93", "94", "95", "96", "97", "98", "99", "100+"
    FROM original
    where "Type" = 'Country/Area'
);

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++

In [ ]:
# %%sql

# select *
# from simple_view
# order by index, region, year;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

17538 rows affected.

+-------+---------+------+----------+----------+----------+----------+----------+----------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
| index |  region | year |    0     |    1     |    2     |    3     |    4     |    5     |    6     |    7    |    8    |    9    |    10   |    11   |    12   |    13   |    14   |    15   |    16   |    17   |    18   |    19   |    20   |    21   |    22   |    23   |    24   |    25   |    26   |    27   |    28   |    29   |    30   |    31   |    32   |    33   |    34   |    35   |    36   |    37   |    38   |    39   |    40   |    41   |    42   |    43   |    44   |    45   |    46   |    47   |    48   |    49   |    50   |    51   |    52   |    53   |    54   |    55   |    56   |    57   |    58   |    59   |    60   |    61   |    62   |    63   |    64   |    65   |    66   |   67   |   68   |   69   |   70   |   71   |   72   |   73   |   74   |   75   |   76   |   77   |   78   |   79   |   80   |   81   |   82   |   83   |   84   |   85   |   86   |   87   |   88   |   89   |   90   |   91   |   92   |   93   |   94   |   95   |   96   |   97   |   98   |   99   |  100+  |
+-------+---------+------+----------+----------+----------+----------+----------+----------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|  2595 | Burundi | 1950 | 93.6635  | 76.8735  | 73.1925  | 68.9195  |  65.95   |  63.246  | 60.8005  | 58.5945 | 56.6715 | 55.0775 | 53.7615 |  52.613 |  51.457 |  50.197 | 48.8945 | 47.7045 |  46.646 | 45.5505 |  44.356 | 43.1215 | 41.9375 |  40.804 | 39.6995 |  38.656 | 37.6545 |  36.668 | 35.6965 | 34.7395 | 33.7795 | 32.8255 | 31.8915 | 30.9715 | 30.0705 |  29.199 | 28.3495 | 27.5095 |  26.684 | 25.8605 |  25.023 |  24.184 | 23.3595 | 22.5485 | 21.7585 |  21.001 |  20.267 |  19.538 |  18.807 | 18.1015 | 17.4405 | 16.7995 |  16.168 |  15.567 | 14.9065 | 14.0925 | 13.2065 |  12.368 | 11.5455 | 10.8215 | 10.3435 |  9.9845 |  9.6015 |  9.2315 |  8.8735 |  8.445  |  7.982  |  7.554  |   7.15  | 6.718  | 6.2445 | 5.753  | 5.2655 | 4.7905 |  4.33  | 3.9065 | 3.509  | 3.1205 | 2.749  | 2.388  | 2.018  | 1.6535 | 1.3165 | 1.001  | 0.7395 | 0.5755 | 0.473  | 0.3795 |  0.3   | 0.237  | 0.1745 | 0.1165 | 0.0725 | 0.0505 | 0.0405 | 0.027  | 0.013  | 0.006  | 0.005  | 0.0035 | 0.002  | 0.0015 | 0.0015 |
|  2596 | Burundi | 1951 | 104.803  |  85.347  |  73.142  | 70.6035  | 67.1265  |  64.668  |  62.307  | 60.0905 |  58.038 |  56.218 |  54.69  |  53.413 | 52.2795 | 51.1165 |  49.828 | 48.4755 |  47.222 | 46.0905 |  44.922 | 43.6595 |  42.368 |  41.14  | 39.9775 |  38.861 |  37.815 | 36.8255 | 35.8565 | 34.9085 | 33.9795 |  33.047 | 32.1225 | 31.2175 |  30.325 |  29.451 |  28.607 | 27.7825 |  26.967 |  26.163 | 25.3595 | 24.5405 | 23.7195 |  22.911 | 22.1165 |  21.342 | 20.5995 |  19.881 |  19.165 |  18.446 | 17.7495 |  17.095 |  16.461 | 15.8325 | 15.2345 | 14.5765 | 13.7685 |  12.891 |  12.059 |  11.242 | 10.5225 |  10.043 |  9.675  |  9.2865 |  8.9075 |  8.541  |  8.107  |  7.6395 |  7.206  | 6.7965 | 6.358  | 5.8815 | 5.387  | 4.903  |  4.43  | 3.977  | 3.562  | 3.1745 | 2.799  | 2.443  | 2.0995 | 1.751  | 1.4165 | 1.112  | 0.831  | 0.6035 | 0.4605 | 0.3725 | 0.293  | 0.2265 | 0.174  | 0.123  | 0.078  | 0.046  |  0.03  | 0.022  | 0.0135 | 0.0055 | 0.0015 | 0.001  | 0.0005 | 0.001  | 0.0005 |
|  2597 | Burundi | 1952 | 105.654  |  95.621  |  81.279  | 70.5855  |  68.79   | 65.8355  |  63.718  | 61.5865 | 59.5255 | 57.5775 | 55.8255 | 54.3385 | 53.0775 |  51.937 |  50.744 |  49.405 | 47.9885 |  46.661 | 45.4565 |  44.218 |  42.898 | 41.5635 | 40.3065 |  39.131 |  38.013 |  36.98  | 36.0075 | 35.0635 |  34.143 |  33.242 | 32.3385 | 31.4425 |  30.566 |  29.701 |  28.854 |  28.036 | 27.2355 | 26.4415 |  25.659 | 24.8725 | 24.0715 | 23.2665 |  22.474 | 21.6955 |  20.937 | 20.2095 |  19.504 |   18.8  |  18.09  |  17.401 |  16.753 | 16.1225 |  15.496 | 14.8995 | 14.2445 | 13.4435 |  12.572 |  11.746 |  10.935 |  10.218 |  9.7345 |  9.3595 |  8.962  |  8.576  |  8.201  |  7.7615 |   7.29  | 6.8515 | 6.4345 |  5.99  | 5.511  | 5.0185 | 4.5365 | 4.072  | 3.629  | 3.2245 | 2.8495 | 2.489  |  2.15  | 1.8235 | 1.5025 | 1.198  | 0.9255 | 0.679  | 0.4845 | 0.362  | 0.2875 | 0.2215 | 0.166  | 0.1225 | 0.0835 |  0.05  | 0.0265 | 0.015  | 0.0105 | 0.0055 | 0.002  |   0    | 0.0005 |   0    |   0    |
|  2598 | Burundi | 1953 | 106.6855 | 96.4975  | 91.1295  | 78.4815  | 68.7845  | 67.4765  |  64.873  |  62.984 |  61.01  | 59.0545 |  57.177 | 55.4675 | 53.9975 | 52.7285 |  51.555 |  50.308 |  48.901 | 47.4065 | 46.0025 | 44.7245 |  43.425 |  42.059 |  40.695 | 39.4245 |  38.249 |  37.144 |  36.13  |  35.183 |  34.268 | 33.3775 | 32.5065 |  31.633 | 30.7675 |  29.92  |  29.084 |  28.264 |  27.471 | 26.6935 | 25.9215 |  25.157 |  24.389 |  23.605 |  22.817 | 22.0415 | 21.2795 | 20.5365 | 19.8225 | 19.1295 |  18.435 | 17.7335 |  17.051 | 16.4065 | 15.7785 |  15.155 |  14.56  |  13.909 |  13.112 | 12.2465 |  11.426 |  10.619 |  9.905  |  9.4165 |  9.033  |  8.629  |  8.236  |  7.853  |  7.408  | 6.9325 | 6.4875 | 6.0635 | 5.6155 | 5.135  | 4.646  | 4.1715 | 3.717  | 3.2865 | 2.8955 | 2.535  | 2.1915 | 1.8695 | 1.566  | 1.2715 | 0.998  | 0.758  | 0.547  | 0.3805 | 0.279  | 0.216  | 0.162  | 0.1175 | 0.0835 | 0.0535 | 0.029  | 0.014  | 0.007  | 0.004  | 0.002  | 0.001  |   0    |   0    |   0    |
|  2599 | Burundi | 1954 | 107.8075 |  97.544  |  92.021  |  88.04   | 76.5105  |  67.48   | 66.4975  | 64.1305 |  62.398 |  60.53  |  58.647 | 56.8125 | 55.1225 | 53.6445 | 52.3405 | 51.1115 | 49.7935 | 48.3065 | 46.7335 |  45.256 |  43.915 | 42.5675 | 41.1715 | 39.7945 | 38.5255 | 37.3625 | 36.2785 |  35.29  |  34.373 | 33.4885 |  32.629 |  31.789 | 30.9465 |  30.111 | 29.2925 | 28.4845 |  27.69  | 26.9205 |  26.164 |  25.413 |  24.666 |  23.916 |  23.149 |  22.378 |  21.619 |  20.873 | 20.1435 |  19.442 |  18.759 | 18.0725 | 17.3775 |  16.698 |  16.057 | 15.4325 | 14.8105 | 14.2175 | 13.5675 |  12.775 |  11.915 | 11.0985 |  10.295 |  9.5825 |  9.0895 |  8.6985 |  8.288  |  7.8875 |  7.4965 | 7.0465 | 6.566  | 6.1155 | 5.685  | 5.2335 | 4.7565 | 4.273  |  3.81  | 3.3685 | 2.953  | 2.578  | 2.233  | 1.9075 | 1.6065 | 1.326  | 1.0605 | 0.8195 | 0.6115 | 0.431  | 0.2935 | 0.2085 | 0.158  | 0.1145 | 0.0795 | 0.0535 | 0.0315 | 0.016  | 0.0075 | 0.0025 | 0.001  | 0.001  | 0.0005 |   0    |   0    |
|  2600 | Burundi | 1955 | 108.9355 | 98.6795  |  93.076  | 88.9365  | 85.8635  |  75.084  |  66.509  |  65.744 |  63.539 |  61.912 |  60.117 | 58.2775 |  56.463 | 54.7655 |  53.255 |  51.897 |  50.597 |  49.199 | 47.6335 | 45.9885 | 44.4495 | 43.0615 |  41.683 |  40.275 |   38.9  | 37.6435 | 36.5025 |  35.445 | 34.4855 |  33.599 | 32.7455 |  31.917 | 31.1065 |  30.294 | 29.4855 | 28.6955 |  27.913 | 27.1415 | 26.3935 |  25.657 |  24.923 | 24.1935 | 23.4595 | 22.7085 | 21.9535 | 21.2105 | 20.4785 | 19.7615 |  19.07  |  18.394 | 17.7135 |  17.021 | 16.3455 | 15.7075 | 15.0845 |  14.465 | 13.8715 | 13.2235 | 12.4335 |  11.577 |  10.763 |  9.9635 |  9.252  |  8.7545 |  8.356  |  7.9385 |  7.5305 | 7.132  | 6.6755 | 6.1915 | 5.735  | 5.3005 | 4.8495 | 4.3765 | 3.905  | 3.4545 | 3.0285 | 2.6305 | 2.272  | 1.945  | 1.6395 | 1.3615 | 1.1075 | 0.8715 | 0.6615 | 0.4835 | 0.3335 | 0.2205 | 0.153  | 0.112  | 0.078  | 0.051  | 0.0315 | 0.0175 | 0.0085 | 0.0025 | 0.001  |   0    | 0.0005 | 0.0005 |   0    |
|  2601 | Burundi | 1956 | 110.1135 |  99.821  |  94.216  |  89.991  | 86.7585  |  84.288  | 74.0215  |  65.76  | 65.1425 | 63.0485 | 61.4935 | 59.7425 |  57.921 | 56.0995 |  54.372 |  52.807 |  51.379 |  49.998 | 48.5215 |  46.882 |  45.177 |  43.591 |  42.173 |  40.782 | 39.3755 | 38.0135 |  36.78  | 35.6665 |  34.638 |  33.71  |  32.855 | 32.0315 | 31.2325 |  30.452 |  29.667 |  28.887 | 28.1225 | 27.3625 | 26.6135 | 25.8845 | 25.1655 |  24.448 | 23.7335 |  23.016 |  22.281 |  21.541 | 20.8125 | 20.0925 | 19.3855 | 18.7015 |  18.031 | 17.3535 | 16.6645 |  15.992 |  15.356 |  14.735 |  14.115 | 13.5215 |  12.873 | 12.0835 | 11.2295 | 10.4195 |  9.6225 |  8.9125 |  8.4115 |  8.005  |  7.581  | 7.166  | 6.758  | 6.2965 | 5.808  | 5.3485 | 4.913  | 4.4645 | 4.001  | 3.5425 | 3.1075 | 2.699  |  2.32  | 1.9805 | 1.6725 | 1.3915 | 1.138  | 0.911  | 0.7045 | 0.5245 | 0.3755 | 0.252  | 0.1625 | 0.1085 | 0.0765 | 0.0495 |  0.03  | 0.0175 | 0.009  | 0.003  | 0.0015 | 0.0005 |   0    | 0.0005 |   0    |
|  2602 | Burundi | 1957 |  111.25  | 101.0115 | 95.3655  | 91.1295  |  87.81   |  85.181  | 83.1135  |  73.201 | 65.1615 | 64.6435 | 62.6245 |  61.113 | 59.3795 |  57.552 | 55.6995 |  53.918 | 52.2825 | 50.7735 | 49.3135 |  47.76  |  46.06  |  44.308 | 42.6945 | 41.2625 |  39.873 | 38.4815 | 37.1415 |  35.937 | 34.8535 | 33.8575 | 32.9615 |  32.136 |  31.343 | 30.5745 |  29.822 | 29.0645 | 28.3095 | 27.5685 |  26.831 |  26.101 | 25.3895 |  24.687 | 23.9845 | 23.2875 |  22.584 | 21.8645 |  21.139 |  20.422 |  19.712 |  19.013 | 18.3345 | 17.6675 |  16.992 | 16.3065 | 15.6355 | 15.0015 | 14.3805 |  13.76  |  13.165 | 12.5135 |  11.724 |  10.873 | 10.0655 |  9.2715 |  8.565  |  8.0605 |  7.6465 | 7.216  | 6.792  | 6.3755 | 5.9085 | 5.4185 | 4.959  | 4.525  | 4.0825 | 3.632  | 3.1885 | 2.771  | 2.3825 | 2.024  | 1.7045 | 1.4205 | 1.1635 | 0.937  | 0.7375 |  0.56  | 0.408  | 0.284  | 0.186  | 0.1155 | 0.074  | 0.0485 | 0.029  | 0.0165 | 0.009  | 0.0035 | 0.0015 | 0.0005 |   0    |   0    |   0    |
|  2603 | Burundi | 1958 | 112.5585 | 102.1515 | 96.5495  | 92.2665  |  88.935  | 86.2185  | 83.9965  |  82.201 | 72.5415 | 64.6605 | 64.2085 |  62.236 |  60.741 | 58.9995 |  57.137 |  55.227 |  53.37  |  51.649 |  50.054 | 48.5125 | 46.8935 |  45.144 | 43.3625 |  41.735 | 40.3055 |  38.931 |  37.563 |  36.254 | 35.0835 | 34.0345 | 33.0725 | 32.2095 |  31.417 | 30.6565 |  29.918 | 29.1945 | 28.4645 |  27.735 | 27.0175 | 26.2995 | 25.5885 |  24.895 |  24.209 |  23.525 |  22.842 |  22.155 | 21.4495 |  20.737 | 20.0305 | 19.3295 |  18.636 | 17.9615 | 17.2965 | 16.6245 |  15.941 | 15.2725 |  14.64  | 14.0175 |  13.396 |  12.797 |  12.142 |  11.352 | 10.5045 |  9.6995 |  8.9105 |  8.2075 |  7.6985 | 7.278  | 6.839  | 6.4075 | 5.9835 | 5.5135 | 5.024  | 4.568  | 4.1385 | 3.7065 |  3.27  | 2.844  | 2.4465 | 2.0785 | 1.743  | 1.447  | 1.188  | 0.958  | 0.759  | 0.587  | 0.436  | 0.3095 | 0.2095 | 0.132  | 0.078  | 0.0465 | 0.028  | 0.016  | 0.0085 | 0.0035 | 0.0015 | 0.0005 |   0    |   0    |   0    |
|  2604 | Burundi | 1959 | 114.1255 | 103.465  |  97.699  |  93.449  | 90.0675  | 87.3375  | 85.0295  |  83.082 | 81.4725 | 71.9945 |  64.228 | 63.8145 |  61.861 | 60.3575 | 58.5805 | 56.6605 | 54.6765 | 52.7345 | 50.9285 | 49.2535 | 47.6465 |  45.978 | 44.1975 | 42.4045 |  40.78  |  39.365 | 38.0155 |  36.677 | 35.4035 |  34.267 |  33.252 | 32.3245 | 31.4945 | 30.7335 |  30.003 |  29.294 | 28.5975 |  27.892 | 27.1855 |  26.487 |  25.789 | 25.0945 | 24.4175 |  23.749 |  23.08  | 22.4125 |  21.739 | 21.0455 | 20.3435 |  19.645 |  18.949 |  18.26  |  17.588 | 16.9255 |  16.256 |  15.574 | 14.9065 |  14.273 | 13.6495 | 13.0235 |  12.42  | 11.7605 |  10.971 |  10.126 |  9.325  |  8.5405 |  7.841  | 7.329  | 6.8995 | 6.4535 | 6.015  | 5.585  | 5.1145 | 4.6295 | 4.1805 | 3.7585 | 3.339  | 2.9185 | 2.512  | 2.1355 | 1.7915 | 1.4805 | 1.2115 | 0.9795 | 0.7765 | 0.605  | 0.458  | 0.332  | 0.229  | 0.1495 | 0.0895 | 0.0495 | 0.0265 | 0.015  | 0.0085 | 0.0035 | 0.0015 | 0.0005 | 0.0005 |   0    |   0    |
|  2605 | Burundi | 1960 | 115.8805 | 105.0265 |  99.025  |  94.607  |  91.252  |  88.472  |  86.149  | 84.1155 |  82.355 |  80.873 |  71.525 |  63.84  | 63.4375 |  61.481 |  59.944 | 58.1135 | 56.1245 | 54.0615 |  52.042 |  50.162 |  48.426 |  46.772 |  45.074 |  43.283 |  41.494 | 39.8855 | 38.4945 | 37.1715 | 35.8665 |  34.625 | 33.5215 |  32.539 |  31.642 | 30.8415 |  30.109 | 29.4055 |  28.721 |  28.047 |  27.362 |  26.673 | 25.9935 | 25.3095 | 24.6305 | 23.9695 | 23.3145 | 22.6595 |  22.005 |  21.342 |  20.658 | 19.9615 | 19.2685 | 18.5755 |  17.888 |  17.218 | 16.5575 | 15.8885 |  15.207 | 14.5405 |  13.904 | 13.2755 | 12.6455 | 12.0345 |  11.371 | 10.5805 |   9.74  |  8.943  |  8.164  | 7.468  | 6.952  | 6.5135 | 6.061  | 5.6165 | 5.1845 | 4.7155 |  4.24  | 3.799  | 3.388  | 2.9825 |  2.58  | 2.1955 | 1.8425 | 1.524  | 1.2415 | 1.0005 | 0.795  |  0.62  | 0.472  | 0.3495 | 0.2475 | 0.1655 | 0.103  | 0.058  | 0.029  | 0.0145 | 0.008  | 0.0035 | 0.0015 | 0.0005 | 0.0005 |   0    |   0    |
|  2606 | Burundi | 1961 | 117.972  | 106.9335 | 100.735  | 96.0635  |  92.523  | 89.7525  |  87.364  | 85.3045 |  83.449 |  81.809 |  80.405 | 71.1525 |  63.527 |  63.138 | 61.1905 |  59.655 | 57.8235 |  55.83  | 53.7615 | 51.7345 |  49.849 |  48.107 |  46.45  | 44.7535 |  42.968 | 41.1865 |  39.587 |  38.201 |  36.884 | 35.5835 |  34.346 |  33.245 | 32.2635 |  31.367 | 30.5675 |  29.835 |  29.13  |  28.444 |  27.768 |  27.081 |  26.39  | 25.7075 | 25.0235 | 24.3445 | 23.6835 | 23.0295 |  22.376 | 21.7215 |  21.057 | 20.3695 | 19.6705 |  18.972 | 18.2745 |  17.583 |  16.909 | 16.2425 | 15.5695 | 14.8845 |  14.211 |  13.566 | 12.9295 | 12.2895 | 11.6695 | 10.9975 | 10.2065 |  9.3675 |  8.573  | 7.798  | 7.1055 | 6.5825 | 6.135  | 5.676  | 5.229  | 4.7945 | 4.332  | 3.8655 | 3.4365 | 3.038  | 2.647  | 2.2655 | 1.9035 | 1.577  | 1.2865 | 1.0325 |  0.82  | 0.6415 | 0.491  | 0.368  | 0.2675 | 0.184  | 0.1195 | 0.0725 | 0.0405 |  0.02  | 0.0115 | 0.0065 | 0.0045 | 0.003  | 0.002  | 0.002  | 0.002  |
|  2607 | Burundi | 1962 | 121.177  | 108.928  | 102.5915 |  97.738  |  93.956  | 91.0065  |  88.63   | 86.5085 |  84.629 |  82.896 |  81.336 |  79.986 | 70.8045 |  63.225 | 62.8375 |  60.892 |  59.352 | 57.5125 |  55.51  | 53.4325 |  51.399 |  49.508 | 47.7625 |  46.106 |  44.413 | 42.6355 |  40.864 |  39.273 | 37.8925 | 36.5825 |  35.286 | 34.0525 | 32.9545 | 31.9745 |  31.08  | 30.2825 |  29.549 |  28.842 |  28.156 |  27.478 |  26.789 |  26.096 | 25.4135 |  24.729 | 24.0515 |  23.392 | 22.7395 | 22.0855 | 21.4295 | 20.7615 |  20.071 | 19.3665 |  18.664 | 17.9625 |  17.267 | 16.5865 | 15.9155 |  15.237 |  14.546 | 13.8645 |  13.212 |  12.566 |  11.916 |  11.286 | 10.6085 |  9.816  |   8.98  | 8.188  | 7.4185 | 6.728  |  6.2   | 5.746  | 5.2835 | 4.8355 | 4.403  | 3.9495 | 3.496  | 3.081  | 2.6965 | 2.324  | 1.9645 | 1.629  | 1.3305 |  1.07  | 0.8465 | 0.661  | 0.509  | 0.3825 | 0.2805 | 0.198  | 0.1335 | 0.0845 |  0.05  | 0.027  | 0.0135 | 0.0075 | 0.0045 | 0.0025 | 0.002  | 0.002  | 0.003  |
|  2608 | Burundi | 1963 | 124.317  | 111.759  | 104.3775 |  99.425  |  95.492  |  92.327  | 89.7925  | 87.6955 | 85.7675 | 84.0185 |  82.373 | 80.8665 | 79.5405 | 70.3915 |  62.811 | 62.3685 |  60.358 | 58.7425 |  56.828 |  54.758 |  52.625 | 50.5505 |  48.633 |  46.876 |  45.222 |  43.544 | 41.7905 |  40.049 |  38.488 |  37.14  |  35.86  | 34.5955 | 33.3925 |  32.323 |  31.371 | 30.5025 | 29.7285 |  29.014 |  28.327 | 27.6565 |  26.994 |  26.318 | 25.6385 | 24.9695 |  24.299 | 23.6345 |  22.985 |  22.342 |  21.695 |  21.043 | 20.3785 |  19.689 |  18.986 |  18.284 | 17.5835 | 16.8875 |  16.206 |  15.533 |  14.852 |  14.156 |  13.47  | 12.8095 | 12.1555 |  11.499 | 10.8635 |  10.182 |  9.3905 | 8.559  | 7.7715 | 7.0085 | 6.322  | 5.7935 | 5.336  | 4.874  | 4.4295 | 4.005  | 3.562  | 3.125  | 2.7265 | 2.359  | 2.008  | 1.6735 | 1.3675 | 1.101  | 0.8715 | 0.677  | 0.5185 |  0.39  | 0.285  | 0.2025 | 0.139  | 0.0895 | 0.0535 | 0.029  | 0.014  | 0.0055 | 0.0015 | 0.0005 |   0    |   0    | 0.0015 |
|  2609 | Burundi | 1964 | 127.0205 | 114.993  | 107.368  | 101.3875 |  97.335  | 94.0015  |  91.235  | 88.9645 |  87.046 | 85.2365 | 83.5675 |  81.977 | 80.5115 |  79.218 |  70.136 | 62.6205 | 62.2075 |  60.236 | 58.6535 |  56.77  |  54.725 | 52.6115 | 50.5515 |  48.643 | 46.8915 | 45.2375 |  43.558 | 41.8005 | 40.0515 |  38.48  | 37.1175 | 35.8245 |  34.545 |  33.327 | 32.2445 |  31.277 | 30.3945 | 29.6055 |  28.877 |  28.175 | 27.4905 | 26.8145 | 26.1275 |  25.439 |  24.763 |  24.086 |  23.414 |  22.759 | 22.1075 |  21.451 |  20.79  |  20.114 |  19.416 |  18.704 |  17.994 |  17.286 | 16.5815 |  15.892 |  15.21  | 14.5175 | 13.8105 |  13.113 |  12.441 |  11.776 |  11.111 |  10.465 |  9.777  | 8.9845 | 8.155  | 7.371  | 6.6135 | 5.932  | 5.4035 | 4.9435 | 4.4865 | 4.048  | 3.6295 | 3.201  | 2.7805 |  2.4   | 2.051  | 1.7235 | 1.4175 | 1.1425 | 0.908  | 0.708  |  0.54  | 0.407  |  0.3   | 0.2155 |  0.15  | 0.101  | 0.065  | 0.0385 | 0.0225 | 0.0125 | 0.0065 | 0.0055 | 0.005  | 0.0045 | 0.0045 |
|  2610 | Burundi | 1965 | 131.326  | 117.3305 | 110.3445 | 104.203  | 99.1895  |  95.762  |  92.846  |  90.358 |  88.275 | 86.4815 |  84.758 | 83.1475 |  81.599 | 80.1655 | 78.8975 |  69.879 | 62.4215 |  62.029 | 60.0835 | 58.5195 | 56.6495 | 54.6155 |  52.513 | 50.4625 |  48.561 | 46.8125 |  45.159 | 43.4775 | 41.7165 |  39.962 |  38.383 | 37.0115 |  35.708 | 34.4175 | 33.1905 | 32.0965 | 31.1175 |  30.224 |  29.423 |  28.682 | 27.9675 | 27.2725 |  26.587 |  25.892 |  25.198 |  24.516 |  23.834 | 23.1575 | 22.4945 |  21.834 | 21.1695 | 20.4975 | 19.8125 |  19.106 | 18.3855 | 17.6685 | 16.9525 | 16.2405 | 15.5415 | 14.8485 |  14.144 |  13.427 | 12.7185 |  12.035 |  11.361 | 10.6855 | 10.0325 | 9.3365 | 8.544  | 7.719  | 6.9405 | 6.1905 | 5.5195 | 4.9945 |  4.54  | 4.089  |  3.66  | 3.254  | 2.8415 | 2.4415 |  2.08  | 1.7555 | 1.455  | 1.179  | 0.9375 | 0.7325 | 0.561  | 0.4215 | 0.3115 | 0.2255 | 0.158  | 0.1075 | 0.0715 | 0.045  | 0.027  | 0.0165 | 0.0095 | 0.0065 | 0.006  | 0.0055 | 0.0065 |

In [ ]:
# %%sql

# ALTER TABLE temp.original SET SCHEMA wpp_2024;
# ALTER VIEW temp.simple_view SET SCHEMA wpp_2024;
# ALTER VIEW temp.regions_view SET SCHEMA wpp_2024;

# commit;

Running query in 'postgresql://postgres:***@localhost:5432/postgres'

++
||
++
++