In [15]:

import sys
sys.path.append(r"C:\Users\parkj\Documents\workspace\my_projects\code")

In [16]:
import py.utils.data as data

db = data.PostgreSQLDB(database="wpp")

Database engine created.

In [17]:

df = db.exedf()

Query executed successfully.

In [18]:
import pandas as pd
import numpy as np

# 예: 쿼리 결과를 df 라는 DataFrame에 불러왔다고 가정

# 가중평균 함수
def weighted_avg(values, weights):
    return np.average(values, weights=weights)

# 가중분산 함수
def weighted_var(values, weights):
    average = weighted_avg(values, weights)
    variance = np.average((values - average)**2, weights=weights)
    return variance

# 가중표준편차 함수
def weighted_std(values, weights):
    return np.sqrt(weighted_var(values, weights))

# 그룹별 계산
grouped = df.groupby(['region', 'subregion', 'country'])

result = grouped.apply(
    lambda g: pd.Series({
        'total_population': g['population'].sum(),
        'weighted_avg_age': weighted_avg(g['age'], g['population']),
        'weighted_std_age': weighted_std(g['age'], g['population'])
    })
).reset_index()

print(result)

      region       subregion                    country  total_population  \
0     Africa  Eastern Africa                    Burundi        13689447.0
1     Africa  Eastern Africa                    Comoros          850383.0
2     Africa  Eastern Africa                   Djibouti         1152942.0
3     Africa  Eastern Africa                    Eritrea         3470393.0
4     Africa  Eastern Africa                   Ethiopia       128691689.0
..       ...             ...                        ...               ...
232  Oceania       Polynesia                      Samoa          216663.0
233  Oceania       Polynesia                    Tokelau            2391.0
234  Oceania       Polynesia                      Tonga          104595.0
235  Oceania       Polynesia                     Tuvalu            9808.0
236  Oceania       Polynesia  Wallis and Futuna Islands           11369.0

     weighted_avg_age  weighted_std_age
0           21.276823         17.448138
1           25.158422         19.449891
2           28.019534         19.343788
3           23.937366         18.983886
4           23.140802         18.225727
..                ...               ...
232         26.275155         20.840431
233         30.900878         21.253755
234         27.307309         21.083461
235         28.815967         21.150356
236         37.415164         22.893479

[237 rows x 6 columns]

C:\Users\parkj\AppData\Local\Temp\ipykernel_17192\2487373733.py:23: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = grouped.apply(

In [19]:
df = result

print(result[result['country'] == 'Japan'])

   region     subregion country  total_population  weighted_avg_age  \
68   Asia  Eastern Asia   Japan       124370948.0         48.007691

    weighted_std_age
68         24.427485